.cards-container {
    height: 300px; /* Set a fixed height for uniformity */
    padding: 8px;
    padding-bottom: 18px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%; /* Base width */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    gap: 2px;
    overflow: hidden; /* Ensure content doesn't overflow */
  }
  
  .cards-container:hover {
    box-shadow: none;
  }
  
  .cards {
    text-align: center;
    flex-grow: 1; /* Allow the card to grow */
  }
  
  .cards img {
    width: 90%;
    height: 250px; /* Set a fixed height for the image */
    object-fit: contain; /* Ensure the image covers the area without distortion */
  }
  
  .cards-desc p {
    color: var(--primary-color-white) !important;
    
  }
  
  .cards a {
    color: var(--primary-color-white) !important;
    font-weight: 400;
  }
  
  .cards h4 {
    font-size: 20px;
    color: var(--accent-color-dark) !important;
    z-index: 2;
  }
  
  .cards-desc {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgba(44, 59, 80, 0.95);
    opacity: 1;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
  }
  
  .cards-desc a {
    color: var(--primary-color);
  }
  
  .cards-desc a:hover {
    font-weight: 400;
  }
  
  .cards-desc p {
    padding: 12px;
    color: var(--primary-color);
  }
  
  .cards-container:hover .cards-desc {
    bottom: 0;
    height: 100%;
  }
  
  /* Media Queries */
  @media screen and (max-width: 1041px) {
    .cards-desc p {
        padding: 3px;
    }
  }
  
  @media screen and (max-width: 991px) {
    .cards-desc p {
        padding: 1px;
        font-size: 16px;
    }
  }
  
  @media screen and (max-width: 870px) {
    .cards-desc p {
        padding: 1px;
        font-size: 14px;
    }
  }
  
  @media screen and (max-width: 770px) {
    .HomeCard {
        flex-direction: column;
        justify-content: stretch;
    }
    .cards-container {
        width: 60%;
    }
    .cards-desc p {
        padding: 4px;
        font-size: 18px;
    }
  }
  
  @media screen and (max-width: 507px) {
    .cards-container {
        width: 70%;
    }
  }
  
  @media screen and (max-width: 426px) {
    .cards-container {
        width: 80%;
    }
  }
  
  @media screen and (max-width: 380px) {
    .cards-desc p {
        padding: 1px;
    }
  }
  
  @media screen and (max-width: 367px) {
    .cards-container {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 294px) {
    .cards-desc p {
        padding: 1px;
        font-size: 14px;
    }
  }
  .learn-more-link {
    color: white !important; /* Set text color to white */
    text-align: center; /* Center align text */
    display: block; /* Make the anchor a block element to take full width */
    margin: 0 auto; /* Center the block element */
    font-weight: 400; /* Optional: adjust font weight */
  }
  